#FirstParagraph {
  background-color: blue;
  color: white;
}
#SecondParagraph {
  font-family: barrio;
}


.box {
  width: 100px;
  height: 100px;
  display: inline-block;
}

#one {
  background-color: red;
}

#two {
  background-color: blue;
}

#three {
  background-color: green;
}
#htmlfe {
  background-image: url("https://pbs.twimg.com/media/CdCLAAsWoAEEP16.jpg");
  
}
#p4 {
 text-align: right;
}
#P6:hover {
  color: orange;
  font-family: helvetica;
}

p {
  font-size: 20px;
}
#image {
  width: 50%;
  margin: auto;
}
#one:hover {
  background-color: blue;
}
#two:hover {
  border-radius: 50%;
}
#three:hover {
  
}